@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(http://fonts.googleapis.com/css?family=Crimson+Text:400,400italic,600,600italic,700,700italic);

/* Headings */
h1, h2, h3, h4, h5, h6 {
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

h1 {
	font-size: 2em; 
	line-height: 1em; 
	text-transform: uppercase; 
	font-family: $sans-serif;
}

h2 {
	font-family: $serif;
	font-weight: 700;
	font-size: 1.5em;
	font-style: italic;
}

h3 {
	font-family: $serif;
	font-size: 1.5em;
	font-weight: 700;
}

.post-edit-link {
	border: 1px solid $red;
	padding: 0.25em;
	color: $red;
	@include border-radius(0.375em);
	text-align: center;
	position: relative;
	display: block;
	font-family: $sans-serif;
	max-width: 5em;
	margin: $spacing 0;
}

.post-edit-link:hover {
	border: 1px solid $grey;
	color: $grey;
}

/*a[href^="http"]:not([href*="gvc"]):after, header li ul a[href^="http"]:not([href*="gvc"]):after{
     content: " " url("../../assets/external.svg");    
} */

.menu-item-object-custom a:after{
     content: " " url("../../assets/external.svg");   
     }
 header .menu-item-object-custom a:after{
      content: none;   
      }